.root {
    /* padding: theme.spacing(3, 2), */
    display: flex;
    flex-wrap: wrap;
  }
.text {
    text-align: center
  }
.formControl {
    margin: 100%;
    min-width: 180;
  }
  .button1 {
    margin-top: 2%;
}
.formControl {
    width: 15vw !important;
    background-color: aliceblue;
}
.fabButton {
  margin-left: 15px !important;
}

#images {
  /* background-color: rgb(230, 227, 227) !important; */
  background-image: url('https://ak8.picdn.net/shutterstock/videos/1006819768/thumb/11.jpg');
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  height: 30vh;
}

.profanityInputGrid {
    /* padding: 5vw !important; */
    /* margin: 0 !important; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 30vw !important */
}